.about {
  display: flex;
  align-items: center;
  padding-top: 13rem;
  .textWrapper {
    display: inline-block;
    h1 {
      font-size: 2.875rem;
    }
    h2 {
      font-size: 1.5rem;
      color: #777779;
      margin-bottom: 1.5rem;
    }

    .mobileDescription {
      display: none;
      margin-bottom: 3rem;
    }
  }
  .pictureWrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 14rem;
    > div {
      position: absolute;
      height: 100%;
      width: 100%;
      position: unset !important;
      transform: translateX(2rem);
    }
    .img {
      padding: 5px !important;
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
      position: relative;
      --offset: 3px;
      --offset-negative: calc(var(--offset) * -1);
      --blur: 2px;
      filter: drop-shadow(
          var(--offset) var(--offset) var(--blur) var(--theme-color)
        )
        drop-shadow(
          var(--offset-negative) var(--offset-negative) var(--blur)
            var(--theme-color)
        )
        drop-shadow(
          var(--offset-negative) var(--offset) var(--blur) var(--theme-color)
        )
        drop-shadow(
          var(--offset) var(--offset-negative) var(--blur) var(--theme-color)
        );
    }

    #bg {
      position: absolute;
      transform: translate(1.9rem, 1.35rem);
      width: 102%;
      fill: var(--theme-color);
    }
  }
}

@media screen and (max-width: 73rem) {
  .about {
    padding-top: 8rem;
    flex-direction: column;
    text-align: center;
    .textWrapper {
      width: 70%;
      .desktopDescription {
        display: none;
      }
      .mobileDescription {
        display: block;
      }
    }

    .pictureWrapper {
      > div {
        transform: translateX(0);
      }
      #bg {
        transform: translate(-50%, 1.4rem);
        height: 88%;
      }
    }
  }
}
