.work {
  z-index: 1000;
  padding-top: 10rem;
  .workHeader {
    font-size: 1.75rem;
  }
}

.flexWrapper {
  display: flex;

  &:nth-child(2n + 1) {
    .carouselWrapper {
      margin-left: 1rem;
    }
  }
  &:nth-child(2n) {
    .carouselWrapper {
      margin-right: 1rem;
    }
  }
  .carouselWrapper {
    width: 100%;
    margin-bottom: 3rem;
    .img {
      border-radius: 0.875rem;
    }
  }

  .text {
    width: 100%;
    color: rgb(21, 20, 24);
    padding: 1rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    p {
      font-weight: 400;
      font-size: 1.05rem;
      margin-bottom: 2rem;
    }
    .links {
      display: flex;
    }

    button {
      border: none;
      padding: 1rem;
      font-size: 1rem;
      background-color: var(--theme-color);
      border-radius: 0.8rem;
      vertical-align: center;
      line-height: 1.4rem;
      display: flex;
      cursor: pointer;
      margin-right: 0.5rem;
      .buttonIcon {
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        stroke-width: 2.5px;
      }

      &:hover {
        color: inherit;
        filter: unset;
      }
    }
  }
}

@media screen and (max-width: 73rem) {
  .work {
    .text {
      width: 100%;
      padding: 0;
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 55rem) {
  .work {
    color: rgb(21, 20, 24);
    text-align: center;
    .flexWrapper {
      padding-bottom: 4rem;
      flex-direction: column;
      &:nth-child(2n + 1) {
        flex-direction: column-reverse;
      }
      .carouselWrapper {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
